{% extends 'main_page/layout.html' %}

{% block title %}Сторінка про нас{% endblock %}

{% block content %}
<div class="features">
    <h1>Сторінка про нас</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nostrum, quod enim ratione dolores, quo temporibus excepturi a corporis dicta adipisci blanditiis amet veniam culpa, et exercitationem. Tempora, modi minus.</p>
    <p>{% include 'main_page/test.html' %}</p>
    <button class="btn btn-danger">Натисни на мене</button>   
</div>



{% endblock %}


